<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>My Website - About</title>
		<link rel="stylesheet" href="/static/css/app.css">
	</head>
	<body>
		<h1>Richrd Alann Howlett</h1>
		<p>I am currently a student at the University of the West Indies pursuing a bachelors in Computer Science, with the goal of specializing in data science. I've been a programmer for over 6 years and it's a field I thoroughly enjoy. Web Deisgn is a field I have been interested in and is a skill I plan to master.</p>
	</body>
</html>